/******************************* bouton *******************************/

.btn-white {
    border-radius: 10px;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include flex-center;
    transition: all 0.5s ease-out;
    @include responsive2 {
       top:75%;
    };
}

.btn-2 {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    opacity: 0.9;
    @include flex-center;
} 

.btn-calendar {
    position: absolute;
    right: 15px;
    top:50%;
    transform: translateY(-50%);
}

.btn-black {
    border-radius: 10px;
    @include flex-center;
}

.btn-black2 {
    border-radius: 10px;
    @include flex-center;
}

.btn-date-red {
    position: absolute;
    top: 20px;
    left: 20px;
    border-radius: 10px;
    @include flex-center;
    flex-direction: column;
}

.btn-search {
    border:none;
    position: absolute;
    top: 0;
    right: 0;
    i {
        transform: rotate(90deg);
        cursor: pointer;
    }
}

.btn-menu {
    outline: none!important;
    border:none;
    background:transparent;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    cursor: pointer;
}

.btn-menu:hover {
    border-top: 2px solid $red;
    border-bottom: 2px solid $red;
}

.btn-close-sidebar {
    outline: none!important;
    border:none;
    background:transparent;
    position: absolute;
    font-size: 20px;
    padding: 10px;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

