/********************************* typography *******************************/

/* général */ 

a {
    text-decoration: none;
    font-family: $montserrat;
    text-transform: uppercase;
    font-weight: 400;
}

.small-date, .time-blog, .date-blog {
    font-family: $montserrat;
    font-size: 12px;
    font-weight: 400;
}

.Marie-NY, .btn-black2, .home-click {
    font-family: $montserrat;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 1.1;
}

.btn-white a, .btn-black a {
    line-height: 1.1;
    font-size: 12px;
    text-decoration: none;
    text-transform: uppercase;
}

.click-gray, .wrapper-txt a, .continue-blog a {
    font-family: $montserrat;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 12px;
    text-transform: uppercase;
}

.sous-titre-blog {
    font-family: $montserrat;
    line-height: 1.5;
    font-weight: 400;
    font-size: 12px;
}

.bg-event .wrapper-border a, .txt-verticale span, .mots, .story{
    font-family: $montserrat;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.text-inside, .text-inside a, .text-mapping {
    font-family: $montserrat;
    font-weight: 400;
    font-size: 13px;
    line-height: 1.7;
    text-transform: none;
}

.calendrier {
    font-family: $montserrat;
    font-size: 14px;
    font-weight: 400;
}

.text-foot {
    font-family: $noto;
    font-size: 14px;
    line-height: 1.7;
}

.nav-bar a {
    font-size: 15px;
}

.form-txt {
    font-family: $montserrat;
    font-size: 15px;
    font-weight: 400;
    text-align: initial;
}

p {
    font-family: $montserrat;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.7;
    margin:0; 
}

.text-avis {
    font-family: $montserrat;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    line-height: 1.7;
}

.title-footer {
    font-family: $poppins;
    font-weight: 500;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

h6, .title7, .title-contact, .title-map-info {
    font-family: $poppins;
    font-weight: 500;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin:0;
}

h3 {
    margin:0;
    font-family: $courgette;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 400;
}

.title-blog {
    font-family: $poppins;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1.2;
    letter-spacing: 3px;
}

.jour-blog {
    font-family: $montserrat;
    font-weight: 700;
    font-size: 39px;
    letter-spacing: 1px;
    text-transform: uppercase;
    line-height: 1px;
}


h4 {
    font-family: $poppins;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 10px;
    text-transform: uppercase;
    font-size: 50px;
    margin:0
}

h5 {
    font-family: $poppins;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 6px;
    word-spacing: 6px;
    text-transform: uppercase;
    font-size: 50px;
    margin:0
}

.number {
    font-family: $montserrat;
    font-weight: 700;
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 3px;
    line-height: 1.1;
    margin:0;
}

h1 {
    font-size: 60px;
    line-height: 1.1;
    text-align: center;
    font-family: $courgette;
    margin:0 0 15px;
    margin:0;
    font-weight: 400;
}

h2 {
    font-size: 90px;
    font-family: $poppins;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 10px;
    word-spacing: 10px;
    margin:10px 0 0;
    @include responsive2 { 
        font-size: 70px
    };
}

/******************************* couleur *******************************/

/* color */

.nav-bar a, .btn-white, .btn-white:hover a, .btn-2:hover h6, .txt-verticale, h5, .txt-verticale span, h1, h2, .btn-black a, .btn-black2 a, .foot-icone a, .title-footer, .time-blog, .jour-blog, .date-blog {
    color:white;
}

.story, .wrapper-txt a, h4, .title7, .Marie-NY, .title-blog, .home-click, .continue-blog a {
    color: $black001;
}

h6, .title-map-info {
    color: $black002;
}

p, .calendrier, .text-avis, .btn-calendar, .text-mapping {
    color: $gray;
}

.mots, .bg-event .wrapper-border a, .text-foot, .text-inside, .click-gray {
    color: $gray001;
}

.form-txt, .small-date {
    color: $gray002;
}

.sous-titre-blog {
    color: $gray005;
}

.nav-bar a:hover, .story:hover, a h6:hover, .wrapper-txt a:hover, .bg-event .wrapper-border a:hover, .btn-white a, h3, .les-etoiles, .foot-icone a:hover, .text-inside a, .title-blog:hover, .home-click:hover, .continue-blog a:hover, .number {
    color:$red;
}

/* background color */ 

.btn-2, .learn-more, .block-events .block-right .bg-event .wrapper-border, .btn-white, .play {
    background-color: white;
} 

.btn-2:hover, .txt-verticale, .btn-black:hover, .btn-white:hover, .btn-black2:hover, .btn-date-red {
    background-color: $red;
}

.btn-black2 {
    background-color: $black001;
}

.footer {
    background-color: $black002;
}

.btn-black, .footer2 {
    background-color: $black003;
}

.time-blog {
    background-color: rgba(0,0,0,0.5);
}

/******************************* wrapper *******************************/

.container {
    max-width:1200px;
    padding-right: 15px;
    padding-left:15px;
    width:100%;
    @include flex-center;
}

.wrapper-title {
    @include flex-center;
    flex-direction: column;
}

.container-grid {
    max-width:1200px;
    @include grid;
}

.wrapper-border {
    text-align: center;
    overflow: hidden;
    display: block;
    border-radius: 10px;
    position: relative;
    img {
        width:100%; 
        vertical-align: middle;       
        border-style: none;        
    }
}       

.wrap-input {
    border: 2px solid $gray003;
    border-radius: 10px;
    position: relative;
}

.wrapper-footer {
    @include grid;
}

/******************************* formulaire + input *******************************/@at-root

.formulaire {
    grid-template-columns: 1fr 1fr;
    @include grid;
    gap:25px;
    @include responsive2 {
        display:flex;
        flex-direction: column;
    }
}

.formulaire > *, .formulaire2 > * {
    @include responsive2 {
        width:100%;
    }
}

.formulaire2 {
    grid-template-columns: 1fr 1fr 1fr;
    @include grid;
    width:100%;
    max-width:1200px;
    gap:25px;
    @include responsive2 {
        display:flex;
        flex-direction: column;
    };
    .message {
        grid-column: 1 / span 3;
    }
}

.form-txt {
    margin-left: 3px;
    padding-bottom: 10px;
}
.calendrier {
    border-radius: 10px;
    border: none!important; 
    outline: none!important;
    overflow: visible;
    width:100%;
    height:100%;
    padding: 16px 15px;
    @include responsive2 {
        padding:10px 15px;
    }
}
.calendrier:focus {
    box-shadow: 0 0 0px 2px $red;
}


/********************************** size *********************************/

.sizefull {
    width:100%;
    height:100%;
}

.size0 {
    width:135px;
    height:40px;
}

.size1 {
    width:173px;
    height:60px;
}

.size2 {
    width:225px;
    height:60px;
}

.size3 {
    height:40px;
    width:135px;
}

.size4 {
    width: 390px;
    height: 50px;
}

.size5 {
    width: 100%;
    height: 50px;
}

.size6 {
    width:80px;
}

.size7 {
    width:150px;
    height:40px;
}

.size8 {
    width: 118px;
    height:118px;
}

.size9 {
    max-width: 890px;
}

.size10 {
    width:270px;
    height:50px;
}

.size11 {
    width:70px;
    height:70px;
}

.size12 {
    width:160px;
    height:40px;
}

.size13 {
    width: 100%;
    height: 150px;
}

.size14 {
    height:400px;
}

.size15 {
    width:190px;
}

.size16 {
    width:75px;
    height:82px;
}

.widthfull {
    width:100%;
}

/******************************* transition *******************************/

.transition {
    transition: all 0.5s ease-out;
}