.header {
    max-width: 100%;
    height: 100%;
    position: relative;
    .header-int {
        max-width: 100vw;
        height: 100vh;
        border-top: 5px solid $red;
        .nav-bar {
            position: relative;
            width: 100%;
            @include flex-center;
            .icone {
                width:10%;
                @include flex-center;
            }
            .logo {
                width:10%;
                @include flex-center;
                img {
                    height: 100%;
                }
            }
            
        }
        .title {
            position: absolute;
            top: 45%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}