.contact-page {
    header {
        background: url(../img//bg-title-page-02.jpg) center/cover;
    }
    .header-int {
        height: 545px;
    }
    .map-contact {
        background-image: url(../img/pattern1.png);
        background-repeat: repeat;
        @include flex-center;      
        .container { 
            flex-direction: column;
            width:100%;
            .la-map {
                border-radius: 10px;
                border: 5px solid white;
                position: relative;
                overflow: hidden;
                width: 100%;
                iframe {
                    height:100%;
                    width:100%;
                    opacity: 0.5;
                }
                .bg-overlay {
                    width: 100%;
                    height: 100%;
                    background-color: rgba(0,0,0,0.5);
                }
                .logo2 {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    img {
                        height: 100%;
                    }
                }
                .mapouter{
                    position:relative;
                    text-align:right;
                    height:100%;
                    width:100%;
                }
                .gmap_canvas {
                    overflow:hidden;
                    background:none!important;
                    height:100%;
                    width:100%;
                }
            }
            .info-map {
                @include flex-center;   
                max-width:1200px;  
                width:100%;
                align-items: flex-start;
                @include responsive2 {
                    flex-direction: column;
                    max-width: 1200px;
                    width:100%;
                };
                .info-mapping {
                    @include grid;
                    align-items: start;
                    grid-template-columns: 55px auto;
                    @include responsive2 {
                        padding-left: 115px;
                        padding-right: 30px;
                        justify-content: flex-start;
                    };
                    i {
                        grid-row : 1 / span 2;
                    }
                }
            }
            .info-map > * {
                width:100%;
            }
        }
    }
}